* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #4891ff;
    --light-color: #f4f4f6;
    --dark-color: #111;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background: #181818;
}

a{
    text-decoration: none;
    color: #fff;
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
}

/* Navbar */
.navbar{
    background: #111;
    padding: 12px 0;
}

.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .main-menu ul{
    display: flex;
}

.navbar ul li a{
    margin-top: 5px;
    padding: 10px 20px;
    display: block;
    font-weight: 600;
    transition: 0.5s;
}

.navbar ul li a:hover{
    opacity: .8;
}

.navbar ul li a i{
    margin-right: 10px;
}

.navbar ul li:last-child a{
    margin-left: 10px;
}

/* Hero */
.hero{
    margin-bottom: 50px;
}

.hero .containers{
    background-size: contain;
    background-position: center bottom;
    height: 1050px;
}

.hero .hero-content{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.hero .hero-heading{
    color: #fff;
}

.hero .hero-text{
    width: 70%;
    margin-bottom: 20px;
    font-weight: 500;
    padding: -150, 0, 0, 0;
    color: #fff;
}

.hero .hero-skills{
    width: 70%;
    margin-bottom: 20px;
    font-weight: 500;
    padding: -150, 0, 0, 0;
    color: #fff;
    align-items: center;
}
/* Project */
.project{
    padding: 10px 0 80px;
}

.project-content .grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 60px;
    justify-content: center;
    align-items:first baseline;
}

.col-sm{
    display: flex;
    position: relative;
    height: 350px;
    width: 340px;
    transition: .2s;
}

.col-sm:hover{
    border: 2px, solid #4891ff;
}

.work-item-container{
    clip-path: margin-box;
}

.work-item, .work-item-content{
    width: 100%;
}

.work-text-content{
    position: absolute;
    background-color: #00000096;
    padding: 10px;
    bottom: 0;
    left: 0;
    width: 350px;
    box-sizing: border-box;
    color: #fff;
    margin: 0;
    text-align: center;
}

.work-item{
    transition: transform 1.0s;
}

.work-item:hover{
    transform: scale(1.2);
}

/* Footer */
.footer{
    padding: 40px 0;
}

.footer h4{
    margin-bottom: 10px;
}

.footer ul li{
    line-height: 2.5;
}

.footer a{
    color: #ccc;
    transition: 0.5s;
}

.footer a:hover{
    color: #f4f4f6;
}

.footer-grid{
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 20px;
    justify-content: center;
    align-items:first baseline;
}

/* Utility Classes */
.container{
    max-width: 1100px;
}

.containers{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-sm{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Buttons */
.btn{
    display: inline-block;
    padding: 0px 20px;
    background: none;
    color: #333;
    font-weight: 600;
    font-size: large;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover{
    opacity: 0.8;
}

.btn-primary{
    background: var(--primary-color);
    color: #fff;
}

.btn-dark{
    background: var(--dark-color);
    color: #fff;
}

.btn-block{
    display: block;
    width: 100%;
}

/* Text Classes */
.text-xxl{
    font-size: 4rem;
    line-height: 1.2;
    font-weight: 600;
    margin: 40px 0 20px;
}

.text-xl{
    font-size: 2.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 40px 0 20px;
}

.text-lg{
    font-size: 1.8rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 30px 0 20px;
}

.text-md{
    font-size: 1.2em;
    line-height: 1.4;
    font-weight: normal;
    margin: 20px 10 20px;
}

.text-sm{
    font-size: 0.9rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 10px 0 5px;
}

.text-center{
    text-align: center;
}

/* Background */
.bg-primary{
    background: var(--primary-color);
    color: #fff;
}

.bg-light{
    background: var(--light-color);
    color: #333;
}

.bg-dark{
    background: var(--dark-color);
    color: #fff;
}

.bg-black{
    background: #000;
    color: #fff;
}

/* Hamburger Button */
.hamburger-button{
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1000;
}

.hamburger-button .hamburger-line{
    width: 30px;
    height: 3px;
    background: #333;
    margin: 6px;
}

/* Mobile Menu */
.mobile-menu{
    position: fixed;
    top: 0;
    left: -330px;
    width: 250px;
    height: 100%;
    z-index: 100;
    background-color: var(--dark-color);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: left 0.3s ease-in-out;
}

.mobile-menu.active{
    left: 0;
}

.mobile-menu ul{
    margin-top: 60px;
    padding-left: 10px;
}

.mobile-menu ul li a{
    font-size: 20px;
    transition: 0.3s;
}


/* Media Queries */
@media (max-width: 960px) {
    .text-xxl{
        font-size: 2.5rem;
    }
}

@media (max-width: 670px){
    .navbar .main-menu{
        display: none;
    }

    .navbar .hamburger-button{
        display: block;
    }

    .hero .containers{
        background-size: 350px 400px;
        background-position: bottom;
        height: 770px;
    }

    .hero .hero-content, .hero .hero-text{
        width: 100%;
        font-size: medium;
        text-align: center;
    }

    .footer .footer-grid > div{
        text-align: center;
    }

    .footer .footer-grid h4{
        font-size: small;
    }

    .footer .footer-grid ul li{
        font-size: small;
    }

    /* Text */
    .text-xl{
        font-size: 1.9rem;
    }

    .text-lg{
        font-size: 1.5rem;
    }

    .text-md{
        font-size: 1.1rem;
    }
}

@media (max-width: 500px){
    .text-xxl{
        font-size: 2rem;    
    }
}